@import url('https://fonts.googleapis.com/css?family=MedievalSharp|Oswald&display=swap');

html {
    font-size: 62.5%;
}

:root {
  --font-primary: 'Oswald';
  --font-accent: 'MedievalSharp';
  --color-primary: #FAFFFD;
  --color-secondary: #4C382C;
  --color-accent: #1C111C;
}


body {
    background: var(--color-accent);
    background-image: url("../images/background.png");
    background-size: cover;
    background-position: center center;
}

#root {
    font-size: 1.8rem;
    color: var(--color-primary);
    font-family: var(--font-primary);
    margin: 0 auto;
    max-width: 58vh;
    height: 100vh;
}