.economy_header {
    display: flex;
    margin: 24px 0;
    padding: 8px;
    background-color: #553A2B;
    border-radius: 25px;
    box-shadow: inset 0px 0px 32px 4px rgba(0,0,0,0.35);
    border: 2px solid #2d2313;
}

.economy_item {
    width: 6vh;
    height: 6vh;
    position: relative;
}

.foreground, .background {
    display: flex;
    position: absolute;
    bottom: 0;
}

.foreground > *, .background > * {
    width: 6vh;
    height: 6vh;
}

.background {
    filter: invert(60%) sepia(100%) saturate(10000%) hue-rotate(62deg) brightness(30%) contrast(84%);
    z-index: 1;
}

.foreground {
    z-index: 2;
    width: 100%;
    overflow: hidden;
    filter: drop-shadow(0px 8px 18px rgb(0 0 0 / .4));
    border-radius: 0 46px / 10% 14px 0;
    transition: all 0.3s;
}

.foreground > * {
    position: absolute;
    bottom: 0;
    left: 0;
}