.domain_icon {
  width: 8vh;
  height: 8vh;
  border-radius: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  box-shadow: 0px 0px 18px 5px rgba(0, 0, 0, 0.1);
  border: #fff solid 2px;
}

.domain_icon > img {
  width: 120%;
  height: 120%;
  object-fit: cover;
}
